*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif !important;
 
      text-justify: inter-word;
}
/* font-family: 'Poppins', sans-serif; */
h1,h2,h3,h4,h5,p{
    font-family: 'Poppins', sans-serif;
}
.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #901E23;
    transition: 1s;
}
.logo-header{
   font-family: 'Poppins', sans-serif;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff !important;
}
.logo{
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0.5;
}
.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
/*---------nav-bar------*/
#nav-img{
    width: 20%;
}
.navbar{
    /*complete nav color*/
          background-color:transparent;
     color: #1e1e1e !important;
    /* visibility: hidden; */
    text-align: center;
    justify-content: center !important;
}
.navbar-nav{
       background-color:transparent;
       width: 100%;  
        color: #1e1e1e !important; 
    
}

.nav-item{
    color: #1e1e1e !important;
    padding: 20px 40px;
    font-weight: 600;
}
.nav-link{
    
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 3px;
    color: #1e1e1e !important;
}
.nav-item:hover {
    border-radius: 15px;
     background-color: #901E23;
      transition: all 0.6s ease 0s;
}
.nav-link:hover{
    color: #fff !important;
    transition: all 0.6s ease 0s;
}
.navbar .navbar-toggler[aria-expanded="true"] {
color: #1e1e1e !important;
}
.navbar .navbar-toggler:focus{
color: #000;
}
.navbar .navbar-toggler{
color: #000 !important;
}
.dropdown-item{
    margin: 5% 5% 0;
    
}

/*------------main banner------------*/
.main-banner h4{ display: block;
    font-size: 2rem;
    font-weight: bold;
}
.main-banner h4 b{
  color: #901E23;
}
.main-banner{
    background-image: url('images/banner.jpg');
    height: 100vh;
    width: 100%;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;

}
.banner-text{
       text-align: justify;
  padding: 20% 0 0 7% !important;
  width: 40%;
  line-height: 1.5;
  text-justify: newspaper;
}
.banner-text p{
    height: auto;
   
  font-size: 1rem;
}
/*-----------end of banner-----------*/
/*-----------about us-----------------*/
.about-us{
    height:100vh;
    padding: 5%;
}
.about-us h4 b{
       text-align: justify;
  color: #901E23;
}
.about-us h5{
       text-align: justify;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px !important;
    color: #901E23;
    writing-mode: vertical-rl;
   transform: scale(-1, -1);

}
#img1{
    display: flex;
    width: 30%;
    height: auto;
}
#img2{
    display: flex;
    width: 40%;
    height: auto;
}
#img3{
    display: flex;
    width: 30%;
    height: auto;
}
/*-----------end of about us-----------------*/

/*-----------services-----------------*/
.services{
    text-align: justify !important;
   height:100vh;
    padding: 4%; 
}
.services h4 b{
    text-align: justify !important;
  color: #901E23;
}
.services h5{
    text-align: justify;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem !important;
    color: #901E23;
    writing-mode: vertical-rl;
   transform: scale(-1, -1);

}
.services #img4,#img5{
    width: 60%;
}

.services #img6{
    width: 40%;
}
.services-margin-text-vestel{
    text-align: justify !important;
   
    margin-bottom: 15% !important;
}
.services-margin-text-bbErbil{
    text-align: justify !important;
    margin-top: 8%;
    margin-bottom: 8%;
}
.services-margin-text{
    text-align: justify !important;
    margin-top: 11%;
    margin-bottom: 11%;
}
/*-------------end of services-----------------*/
/*-------------companies-------------------*/
/* .companies{
    height: 100vh;
    padding: 5%;
}
.companies-box{
   
    padding: 0 !important;
    border: 1px solid;
    height: 80vh;
    background-color: transparent ;
}

.companies-box img{
    z-index: -1;
    position: relative;
    display: inline-block;
    overflow: hidden;
    
    object-fit: cover;
    width: 100%;
    height: 100%;
  
    background-position: center;
    background-size: cover;
}
.companies-box p{
    text-align: justify;
    opacity: 0;
    z-index: 2;
    letter-spacing: 3px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    margin-top: 25%;
    margin-left:0;
   
}
.companies-box:hover{
    background-color: rgba(0, 0 , 0, 41%);
}
.companies-box:hover p{
    
    animation:fromLeft forwards 3s;
    
}
@keyframes fromLeft{
    from{
        opacity: 0;
        margin-left:0;
    }
    to{
        opacity: 1;
        margin-left:5%;
    }
} */
/*------------end of companies-------------*/

/*-------------CEO-----------------------*/
.ceo{
     
   
    height: 60vh;
    padding: 5%;
}
#circle-img{
    width: 50%;
   height: auto;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
    border-radius: 100%;
}
.ceo p{
    text-align: justify;
   
    font-weight: bold;
    font-size: 2rem;
    color: #901E23;
}
.ceo span{
    font-size:4rem ;
    letter-spacing: 10px;
    color:  #901E23;
}
.ceo span b{
    text-align: justify;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    color: #1e1e1e;
}
/*-------------end of CEO-----------------------*/
footer{
    
    height: 50vh;
}
#footer-img{
    width: 100%;
}
.footer{padding: 3%;}
.footer-content{padding-top: 3%;}
footer h5{
    text-align: justify;
    margin-top: 5% ;
    margin-bottom: 5% ;
}
footer h5 a{
    text-align: justify;
    text-decoration: none;
    color: #1e1e1e;
    font-size: 1rem;
}
footer h5 a:hover{
    text-align: justify;
    color: #901E23;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    .banner-text{
     text-align: start;
        width: 80%;

    }
    .about-us{
        height: 100%;
    }
    .about-us h5{
        writing-mode: horizontal-tb;
        transform: scale(1,1);
        margin: 3% 0 5% 0 ;
    }
           .services{
   height:100%;
}
  .services h5{
        writing-mode: horizontal-tb;
        transform: scale(1,1);
        margin: 3% 0 5% 0 ;
    }
  .ceo{
         height:100%;
    }
    .ceo span{
        font-size: 3rem;
        letter-spacing: 0px;
    }
    .ceo span b{
         font-size: 1rem;
        letter-spacing: 0px;
    }
      footer{
       height:100%;
        bottom: 0 !important;
   color: #000;
    height: 2em;
    left: 0;
    position: relative; 
    font-size: small;
    width:100%;
    }
}
/* Extra small devices (phones, up to 480px) */
@media (min-width: 768px) and (max-width: 991px) {
    .row{
        display: block;
        
    }
    .banner-text{
        text-align: start;
    }
    .about-us{
        height: 100%;
    }
    .about-us h5{
        writing-mode: horizontal-tb;
        transform: scale(1,1);
        margin: 3% 0 5% 0 ;
    }
        .services{
    height:100%;;
}
    .services h5{
        writing-mode: horizontal-tb;
        transform: scale(1,1);
        margin: 3% 0 5% 0 ;
    }
      .ceo{
        height:100%;;
    }
    .ceo span{
        letter-spacing: 0px;
    }
    .ceo span b{
        letter-spacing: 0px;
    }

       footer{
       height:100%;
        bottom: 0 !important;
   color: #000;
    height: 2em;
    left: 0;
    position: relative; 
    font-size: small;
    width:100%;
    }
   
}
